@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*  */

body{
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #264653;
    color: white;
}
.bz-icon{
    position: absolute;
    right: 9px;
    top: 17px;
    /* color: white !important; */
    background-color: aliceblue;
}
.bz-btn {
  background-color:  #e76f51; 
}

.banner button{
    width: 120px;
    height: 50px;
}

.little-title{
    font-weight: 300;
font-size: 14px;
line-height: 22px;
margin-bottom:0;
}

.title{
    font-weight: 600;
font-size: 48px;
line-height: 72px;
}

.description{
    color: #E0E0E0;
    font-weight: 300;
font-size: 16px;
line-height: 24px;
}
/* /// */
.Fetured hr{
    width: 70px;
    margin: auto;
    background-color: #e76f51;
}
.Fetured-title{
    font-weight: 600;
/* font-size: 48px; */
line-height: 72px;
text-align: center;
color: #000000;
}
.feature-description{
    font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #E76F51;
}
/*  */
footer{
    background-color: rgb(4, 4, 50);
}